.company_function_choose1{
	
		width:100px;
		height:25px;
		float: left;	
}
.company_function_choose2{
	
		width:200px;
		height:25px;
		float: left;	
}
.company_function_choose3{
	
		width:150px;
		height:25px;
		float: left;	
}
.company_function_choose4{
	
		width:100px;
		height:25px;
		float: left;	
}