.stu_index_main{

	width:600px;
	height:500px;
	float:left;
	margin-top: 80px;
	margin-left: 150px;
}
.stu_index_main span{
	margin-top:100px;
	display:block;
	float:right;

}
.stu_index_main table{
	background-color: red;
	float:left;
	margin-left:-40px;
}
 .href_location{ float:right;}